* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body{
  background-image: url("hotel-day.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}


.sidepanel {
  height: 75%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: white; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}


.sidepanel a, .suite, #oc {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: blue;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}


.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidepanel button, .dropdown button.dropbtn {
  background-color: white;
  color: blue;
  /* padding: 10px 15px; */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidepanel button:hover, .dropdown button.dropbtn:hover {
  background-color: blue;
  color: white;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: white;
  color: blue;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: blue;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: blue;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: blue;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

h1{
  color:white;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75%;
  margin: 0;
}
.signup form {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup form div {
  margin-bottom: 10px;
  text-align: left;
}

.signup form label {
  display: block;
  margin-bottom: 5px;
}

.signup form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.signup form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signup form button:hover {
  background-color: #0056b3;
}


.error {
  color: red;
  font-size: 12px;
  display: block;
  margin-top: 5px;
}